# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Notebooks
.ipynb_checkpoints

# Pyre/Pylint/Mypy caches
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Misc
*.log
*.tmp
.DS_Store

